server:
  port: 8082

spring:
  application:
    name: user-service
  datasource:
    url: ${USER_SERVICE_DB_URL:jdbc:postgresql://localhost:5432/user_db}
    username: ${USER_SERVICE_DB_USERNAME:admin}
    password: ${USER_SERVICE_DB_PASSWORD:password}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

application:
  security:
    jwt:
      secret: ${JWT_SECRET}

management:
  endpoints:
    web.exposure.include: health
  endpoint.health.show-details: always
  tracing:
    sampling:
      probability: 1.0

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
