server:
  port: 8080

spring:
  application:
    name: gateway-service
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: user-service-docs
              uri: http://user-service:8082
              predicates:
                - Path=/user-service/**
              filters:
                - StripPrefix=1
            - id: user-service-auth
              uri: http://user-service:8082
              predicates:
                - Path=/auth/**
            - id: user-service-me
              uri: http://user-service:8082
              predicates:
                - Path=/user/**
              filters:
                - AuthenticationFilter
            - id: product-service-docs
              uri: http://product-service:8081
              predicates:
                - Path=/product-service/**
              filters:
                - StripPrefix=1
            - id: product-service
              uri: http://product-service:8081
              predicates:
                - Path=/products/**
              filters:
                - AuthenticationFilter
            - id: inventory-service-docs
              uri: http://inventory-service:8083
              predicates:
                - Path=/inventory-service/**
              filters:
                - RewritePath=/inventory-service/(?<segment>.*), /api/$\{segment}
            - id: inventory-service
              uri: http://inventory-service:8083
              predicates:
                - Path=/inventories/**
              filters:
                - RewritePath=/inventories/(?<segment>.*), /api/inventories/$\{segment}
                - AuthenticationFilter
            - id: order-service-docs
              uri: http://order-service:8084
              predicates:
                - Path=/order-service/**
              filters:
                - StripPrefix=1
            - id: order-service
              uri: http://order-service:8084
              predicates:
                - Path=/api/orders/**
              filters:
                - AuthenticationFilter

springdoc:
  swagger-ui:
    path: /swagger-ui.html
    urls:
      - name: User Service
        url: /user-service/v3/api-docs
      - name: Product Service
        url: /product-service/v3/api-docs
      - name: Inventory Service
        url: /inventory-service/v3/api-docs
      - name: Order Service
        url: /order-service/v3/api-docs

application:
  security:
    jwt:
      secret: ${JWT_SECRET}

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always
  tracing:
    sampling:
      probability: 1.0
