name: Monorepo CI

on:
  push:
    branches: [main, develop]
  workflow_dispatch:
    inputs:
      force_all:
        description: "Force run all service tests?"
        required: true
        type: boolean
        default: false

  pull_request:
    branches: [main, develop]

permissions:
  contents: read
  checks: write
  pull-requests: write

jobs:
  changes:
    name: Detect Changes
    runs-on: ubuntu-latest
    outputs:
      user: ${{ steps.filter.outputs.user }}
      product: ${{ steps.filter.outputs.product }}
      inventory: ${{ steps.filter.outputs.inventory }}
      order: ${{ steps.filter.outputs.order }}
      payment: ${{ steps.filter.outputs.payment }}
      gateway: ${{ steps.filter.outputs.gateway }}
      notification: ${{ steps.filter.outputs.notification }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Check for changes
        uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            user:
              - 'services/user-service/**'
            product:
              - 'services/product-service/**'
            inventory:
              - 'services/inventory-service/**'
            order:
              - 'services/order-service/**'
            payment:
              - 'services/payment-service/**'
            gateway:
              - 'services/gateway-service/**'
            notification:
              - 'services/notification-service/**'

  user-service:
    name: User Service
    needs: changes
    if: ${{ needs.changes.outputs.user == 'true' }}
    uses: ./.github/workflows/user-service-ci.yml
    secrets: inherit

  product-service:
    name: Product Service
    needs: changes
    if: ${{ needs.changes.outputs.product == 'true' }}
    uses: ./.github/workflows/product-service-ci.yml
    secrets: inherit

  inventory-service:
    name: Inventory Service
    needs: changes
    if: ${{ needs.changes.outputs.inventory == 'true' }}
    uses: ./.github/workflows/inventory-service-ci.yml
    secrets: inherit

  order-service:
    name: Order Service
    needs: changes
    if: ${{ needs.changes.outputs.order == 'true' }}
    uses: ./.github/workflows/order-service-ci.yml
    secrets: inherit

  payment-service:
    name: Payment Service
    needs: changes
    if: ${{ needs.changes.outputs.payment == 'true' }}
    uses: ./.github/workflows/payment-service-ci.yml
    secrets: inherit

  gateway-service:
    name: Gateway Service
    needs: changes
    if: ${{ needs.changes.outputs.gateway == 'true' }}
    uses: ./.github/workflows/gateway-service-ci.yml
    secrets: inherit

  notification-service:
    name: Notification Service
    needs: changes
    if: ${{ needs.changes.outputs.notification == 'true' }}
    uses: ./.github/workflows/notification-service-ci.yml
    secrets: inherit

    # 3. DEPLOY TO OCI (The "Final Branch")
  deploy:
    name: Deploy to OCI
    runs-on: ubuntu-latest
    # This job waits for ALL service jobs to finish
    needs:
      [
        user-service,
        product-service,
        inventory-service,
        order-service,
        payment-service,
        gateway-service,
        notification-service,
      ]

    # CONDITION: Only deploy if:
    # 1. We are on the 'main' branch (don't deploy PRs or develop branch to prod)
    # 2. The previous jobs were successful (default behavior, but skipped jobs are considered success)
    if: ${{ github.ref == 'refs/heads/main' && always() }}

    steps:
      # Check if any dependency failed. If a test failed, we MUST NOT deploy.
      - name: Verify Workflow Status
        run: |
          if [[ "${{ needs.user-service.result }}" == "failure" || "${{ needs.product-service.result }}" == "failure" || "${{ needs.inventory-service.result }}" == "failure" || "${{ needs.order-service.result }}" == "failure" || "${{ needs.payment-service.result }}" == "failure" || "${{ needs.gateway-service.result }}" == "failure" || "${{ needs.notification-service.result }}" == "failure" ]]; then
            echo "One or more services failed CI tests. Aborting deployment."
            exit 1
          fi
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Copy docker-compose-prod.yml to Server
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.OCI_HOST }}
          username: ${{ secrets.OCI_USERNAME }}
          key: ${{ secrets.OCI_SSH_KEY }}
          source: "docker-compose-prod.yml,infrastructure"
          target: "/home/ubuntu/retail-engine"

      - name: SSH and Deploy
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.OCI_HOST }}
          username: ${{ secrets.OCI_USERNAME }}
          key: ${{ secrets.OCI_SSH_KEY }}
          script: |
            cd /home/ubuntu/retail-engine

            # 1. ENV file setup)
            cat > .env << EOF
            DOCKER_USERNAME=${{ secrets.DOCKER_USERNAME }}
            POSTGRES_PASSWORD=${{ secrets.POSTGRES_PASSWORD }}
            JWT_SECRET=${{ secrets.JWT_SECRET }}
            STRIPE_API_KEY=${{ secrets.STRIPE_API_KEY }}
            STRIPE_WEBHOOK_SECRET=${{ secrets.STRIPE_WEBHOOK_SECRET }}
            STRIPE_SUCCESS_URL=http://${{ secrets.OCI_HOST }}:8080/payments/success
            STRIPE_CANCEL_URL=http://${{ secrets.OCI_HOST }}:8080/payments/cancel
            OCI_HOST=${{ secrets.OCI_HOST }}
            GATEWAY_PUBLIC_URL=${{ secrets.GATEWAY_HOST }}
            GRAFANA_ADMIN_PASSWORD=${{ secrets.GRAFANA_ADMIN_PASSWORD }}
            EOF

            # 2. Pull new images 
            # (Assumes your service workflows pushed updated images to DockerHub)
            docker compose -f docker-compose-prod.yml pull

            # 3. Restart services
            docker compose -f docker-compose-prod.yml up -d --remove-orphans

            # 4. Clean up space
            docker image prune -af --filter "until=24h"
